{{ partial "header.html" . }}
{{ partial "papernav.html" . }}
<!-- <h1> This is a test test</h1> -->

<div class="container container-content">
	<h1>
		{{ .Section | humanize }}:
	</h1>
	<ul>
		{{ range .Pages }}
		<li>
			<a href="{{.Permalink}}"> {{.Title}} </a>
		</li>
		{{ end }}
	</ul>
</div>

{{ partial "footer.html" }}
