:root {
  --accent: #a7309a;
  --body-color: #555;
}

html {
  font-size: calc(((100vw - 300px) / (1600 - 300)) * 8 + 10px);
}

body {
  margin: 0;
  /* background-image: url("/img/seigaiha.png"); */
  background-attachment: fixed;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56 28' width='56' height='28'%3E%3Cpath fill='%23d7dae5' fill-opacity='0.67' d='M56 26v2h-7.75c2.3-1.27 4.94-2 7.75-2zm-26 2a2 2 0 1 0-4 0h-4.09A25.98 25.98 0 0 0 0 16v-2c.67 0 1.34.02 2 .07V14a2 2 0 0 0-2-2v-2a4 4 0 0 1 3.98 3.6 28.09 28.09 0 0 1 2.8-3.86A8 8 0 0 0 0 6V4a9.99 9.99 0 0 1 8.17 4.23c.94-.95 1.96-1.83 3.03-2.63A13.98 13.98 0 0 0 0 0h7.75c2 1.1 3.73 2.63 5.1 4.45 1.12-.72 2.3-1.37 3.53-1.93A20.1 20.1 0 0 0 14.28 0h2.7c.45.56.88 1.14 1.29 1.74 1.3-.48 2.63-.87 4-1.15-.11-.2-.23-.4-.36-.59H26v.07a28.4 28.4 0 0 1 4 0V0h4.09l-.37.59c1.38.28 2.72.67 4.01 1.15.4-.6.84-1.18 1.3-1.74h2.69a20.1 20.1 0 0 0-2.1 2.52c1.23.56 2.41 1.2 3.54 1.93A16.08 16.08 0 0 1 48.25 0H56c-4.58 0-8.65 2.2-11.2 5.6 1.07.8 2.09 1.68 3.03 2.63A9.99 9.99 0 0 1 56 4v2a8 8 0 0 0-6.77 3.74c1.03 1.2 1.97 2.5 2.79 3.86A4 4 0 0 1 56 10v2a2 2 0 0 0-2 2.07 28.4 28.4 0 0 1 2-.07v2c-9.2 0-17.3 4.78-21.91 12H30zM7.75 28H0v-2c2.81 0 5.46.73 7.75 2zM56 20v2c-5.6 0-10.65 2.3-14.28 6h-2.7c4.04-4.89 10.15-8 16.98-8zm-39.03 8h-2.69C10.65 24.3 5.6 22 0 22v-2c6.83 0 12.94 3.11 16.97 8zm15.01-.4a28.09 28.09 0 0 1 2.8-3.86 8 8 0 0 0-13.55 0c1.03 1.2 1.97 2.5 2.79 3.86a4 4 0 0 1 7.96 0zm14.29-11.86c1.3-.48 2.63-.87 4-1.15a25.99 25.99 0 0 0-44.55 0c1.38.28 2.72.67 4.01 1.15a21.98 21.98 0 0 1 36.54 0zm-5.43 2.71c1.13-.72 2.3-1.37 3.54-1.93a19.98 19.98 0 0 0-32.76 0c1.23.56 2.41 1.2 3.54 1.93a15.98 15.98 0 0 1 25.68 0zm-4.67 3.78c.94-.95 1.96-1.83 3.03-2.63a13.98 13.98 0 0 0-22.4 0c1.07.8 2.09 1.68 3.03 2.63a9.99 9.99 0 0 1 16.34 0z'%3E%3C/path%3E%3C/svg%3E");
  line-height: 1.6;
  background-repeat: round repeat;
  color: var(--body-color);
  background-color: #eee;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-family: "Signika", sans-serif;
  word-break: break-word;
  overflow-wrap: break-word;
}

blockquote {
  border-left: 0.2rem solid var(--accent);
  padding-left: 0.52rem;
}

.content img {
  display: block;
  margin: 0 auto;
  max-width: 90%;
  max-height: 45vh;
  border-radius: 10px;
  background: linear-gradient(145deg, #dfdfdf33, #ffffff33);
  box-shadow: 5px 5px 9px #6c6c6c33, -5px -5px 9px #ffffff;
  padding: 1.6rem;
}

div.highlight {
  max-width: 90%;
  margin: 1rem auto;
  font-size: 0.8em;
  background-color: #f0f0f0;
  box-shadow: 5px 5px 9px #6c6c6c33, -5px -5px 9px #ffffff;
  border-radius: 1rem !important;
  padding: 1rem;
  overflow: auto;
}

pre {
  padding: 0.25rem;
  margin: 0 auto;
  font-size: 0.9rem;
  white-space: pre;
}

code {
  font-family: "Chivo Mono", monospace;
  font-size: 10pt;
}

a {
  color: var(--accent);
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: var(--accent);
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

a.dummy {
  color: var(--body-color);
}

h1 h2 h3 h4 h5 h6 {
  font-family: "Montserrat Semibold", sans-serif;
  margin-top: #{2.5 * $leading + "px"};
  line-height: #{1.5 * $leading + "px"};
}

h1 {
  font-size: 2rem;
}

a.button {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent; /* for removing the highlight */
}

.button {
  border-radius: 2rem;
  font-weight: bold;
  font-family: sans-serif;
  margin: 12px 5px;
  background: linear-gradient(145deg, #dfdfdf33, #ffffff33);
  box-shadow: 3px 3px 9px #6c6c6c33, -6px -6px 9px #ffffff;
  padding: 0.31rem 1.5rem;
}
.button:active {
  /* background-color: #dddddd; */
  background: linear-gradient(145deg, #ffffff33, #c1c3c633);
  box-shadow: inset 2px 2px 9px #6c6c6c33, inset -2px -2px 9px #ffffff33;
}

/* topnav stuff */
ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li {
  float: left;
}
ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
ul.topnav li a:hover:not(.active) {
  background-color: #111;
}
ul.topnav li a.active {
  background-color: #4caf50;
}
ul.topnav li.right {
  float: right;
}

/* navmenu stuff */

ul.navmenu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  transition: all 0.6s ease;
}

ul.navmenu li {
  float: left;
}

ul.navmenu li a {
  display: block;
  /* color: white; */
  text-align: center;
  text-decoration: none;
}
/* ul.navmenu li a:hover:not(.active) {background-color: #111;} */
/* ul.navmenu li a.active {background-color: #4CAF50;} */
ul.navmenu li.right {
  float: right;
}

.container-content {
  text-align: justify;
}

/* pagenav stuff */
.pagenav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  justify-content: center;
}
.pagenav ul li {
  display: inline-block;
  margin: 0 3px;
}

.pagenav ul li.disabled a {
  color: var(--body-color);
  pointer-events: none;
  cursor: default;
  background: linear-gradient(145deg, #ffffff33, #c1c3c633);
  box-shadow: 2px 2px 9px #6c6c6c33, -2px -2px 9px #ffffff33;
}
.pagenav ul li.right {
  float: right;
}
.pagenav ul li.left {
  float: left;
}
.pagenav {
  margin: 1rem auto;
}

label#nav-toggle-icon-on {
  display: none;
}
label#nav-toggle-icon-off {
  display: none;
}

#toggle-control {
  display: none;
}

#nav-toggle {
  display: none;
}

/* container stuff */
.container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 56.25%;
  margin: 1rem auto;
  padding: 4rem;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(1.3px);
}
.container:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.5);
}
.container-content > * {
  margin: 0 0 3vh 0;
}
.container-content > p {
  margin: 0 0 2rem 0;
}

/* media queries */
@media screen and (max-aspect-ratio: 4/3) {
  html {
    /* font-size: calc( 0.56vw + 10px ) ; */
  }
  /* topnav stuff */
  ul.topnav li.right,
  ul.topnav li {
    float: none;
  }

  /* navmenu stuff */
  ul.navmenu li.right,
  ul.navmenu li {
    float: none;
  }

  .navmenu {
    display: block;
  }

  #toggle-control {
    display: block;
  }

  #nav-toggle:checked ~ #nav-toggle-icon-off {
    display: none;
  }

  #nav-toggle:not(:checked) ~ #nav-toggle-icon-on {
    display: none;
  }

  #nav-toggle:checked ~ .navmenu {
    display: none;
  }

  label#nav-toggle-icon-on {
    display: table;
    cursor: pointer;
    margin: 0 auto;
    text-align: center;
    width: 65%;
  }

  label#nav-toggle-icon-off {
    display: table;
    cursor: pointer;
    margin: 0 auto;
    text-align: center;
    width: 65%;
  }

  .container {
    width: auto;
    padding: 2rem;
    border-radius: 0;
  }
}

/* Content related styling */
.content-heading {
  text-align: center;
  color: var(--body-color);
}

.logo-img {
  margin: 0 auto;
  display: block;
  max-width: 100px;
  color: var(--body-color);
}

.site-logo {
  display: block;
  min-width: 100px;
  min-height: 100px;
  background: var(--body-color);
  margin: 1rem auto;
  mask-image: url(/logo.svg);
  mask-position: center;
  mask-size: contain;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: contain;
  -webkit-mask-image: url(/logo.svg);
}
